<form #newComment="ngForm">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0 || step === 4" (opened)="setStep(0)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Post a Comment
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field class="example-full-width">
        <textarea style="font-size: 20px" matInput placeholder="Comment" matTextareaAutosize matAutosizeMinRows=5 name="content" #content_formControl="ngModel" ngModel required minlength="10" maxlength="500" pattern="^[\- a-zA-Z0-9!@#$%^&*()_=+?<>.,&quot;\n\r]+$">
        </textarea>

      </mat-form-field>
      <app-blog-comments-post-show-errors [input_formControl]=content_formControl></app-blog-comments-post-show-errors>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep(content_formControl.valid, newComment)">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1 || step === 5 " (opened)="setStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span *ngIf="step1TitleDisplay">Please enter a username with no spaces</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput type="text" name="user" #user_formControl="ngModel" ngModel required minlength="3" maxlength="20" pattern="^[\-a-zA-Z0-9_]+$">
      </mat-form-field>
              <app-blog-comments-post-show-errors [input_formControl]=user_formControl></app-blog-comments-post-show-errors>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="postComment(newComment, user_formControl.valid)">Post Comment</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</form>
