<div *ngIf="blog$ | async as blog" class="margin_2_b">
  <div class="display-4 margin_1_t margin_2_b">{{blog.title}}</div>
  <mat-card>
    <mat-card-subtitle>Posted by: {{blog.author}}
      <br>Published: {{blog.publish_date}}</mat-card-subtitle>
    <br>
    <div style="font-size: 20px" [innerHTML]=blog.content></div>
    <br>
  </mat-card>
</div>
<app-blog-comments-post [blogId]="(blog$|async)?.id" (comment)="commentSentFunction($event)"> </app-blog-comments-post>
<div *ngIf="commentSent"> Comment Sent </div>
<div matheader class="margin_2_b margin_3_t display-4" style="padding-bottom: 20px"> Comments </div>
<div *ngFor="let comment of comments">
  <app-blog-comments-show [comment]="comment"></app-blog-comments-show>
</div>
